[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
auto-changelog = "0.5.3"
pdbpp = "*"
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
invoke = "*"
bump2version = "*"
pytest-mock = "*"
sphinxcontrib-programoutput = "*"
sphinx-autodoc-typehints = "*"
pytest-cov = "*"
coverage = "*"
pylint = "*"
black = "22.3.0"
pre-commit = "*"

[packages]
pyserial = "*"
click = "*"
pyyaml = "*"
pykiso = {editable = true,path = "."}
pylink-square = "*"
python-can = {version="*", extras=["pcan"]}
unittest-xml-reporting = "*" # to generate junit reports
robotframework = "3.2.2"
pyvisa = "*"
pyvisa-py = "*"
python-uds = {ref = "2.0.2", git = "https://github.com/BKaDamien/python-uds"}
